[2018-01-11 08:36] agievich opened #1 "KeyUsage в сертификате ЦАС"
**Проблема**. В расширении KeyUsage сертификата ЦАС предлагается устанавливать флаги crlSign и keyCertSign. Такое решение противоречит, по крайней мере, проверочному примеру из СТБ 34.101.67: в KeyUsage примерного сертификата ЦАС установлены флаги digitalSignature и crlSign. Какие из флагов crlSign, keyCertSign, digitalSignature все-таки должны быть установлены?

**Обсуждение**

1 Согласно СТБ 34.

[2018-01-11 11:12] pavlovkv opened #2 "emailProtection в сертификатах"
**Проблема.** Надо ли указывать emailProtection для SignedData / EnvelopedData?
**Обсуждение.** Никаких веских оснований для этого нет.  Было предположение, что SignedData / EnvelopedData не будут работать в openssl. Но у меня получилось.  Как я понял, данный флаг используется если генерировать подпись в mime-формате.

[2018-01-17 09:28] agievich opened #3 "Кодировка белорусских символов"
В п. 7.2.3 (Атрибут surname) подчеркнуть правила Unicode-кодирования русских и белорусских символов:  используется блок Cyrillic (U-0400 - U-04FF), белорусское І (U-0406) это не латинское I (U-0049).

[2018-01-17 10:10] agievich commented on #2
Предлагаю указывать emailProtection в EKU сертификатов ФЛ и ЮП. Это разумно и соответствует уже сложившейся в ГосСУОК практике. Фактически декларируется возможность организации защищенной почты. Снимаются проблемы с тем же mime.

[2018-01-17 10:26] agievich opened #4 "subjectAltName в extensionRequest"
В п. 8.2.2 (Атрибут extensionRequest) сказано, что расширение subjectAltName "...должны включать в свои запросы TLS-сервер и КА и не должны включать другие стороны". Здесь ошибка. Блокируется возможность указания сторонами своих цифровых атрибутов, например, email.

Предлагается заменить "не должны"  -> "могут".

[2018-01-17 11:02] agievich opened #5 "Названия расширений"
В п. 8.1 заявлены следующие расширения сертификатов: SubjectKeyIdentifier, AuthorityKeyIdentifier, KeyUsage, ExtKeyUsageSyntax, certificatePolicies, BasicConstraints, SubjectAltName, CRLDistributionPoints, AuthorityInfoAccessSyntax.

Имена расширений несколько разнородны: начинаются то с прописной буквы, то со строчной; то заканчиваются суффиксом Syntax, то не заканчиваются. Разнородность имен нас

[2018-01-17 13:43] agievich opened #6 "Детализация программного интерфейса"
В разделе 12 (Программный интерфейс) унифицирована работа с криптографическими сервисами КТ: сказано, как подписывать (bign-sign) и как снимать защиту с транспортируемого ключа (bign-keytransport). Двух этих сервисов достаточно для организации работы в BPKI.

Но унификация криптографических сервисов не до конца решает проблему совместимости КТ. Следует унифицировать весь процесс работы с токеном.

[2018-01-17 14:17] agievich opened #7 "Агенты"
В BPKI введен институт операторов. **Оператор** -- это физическое лицо, юридически представляющее центр (сервер, службу). Пока востребованы только операторы РЦ. Именно они проводят регистрацию других ФЛ. В будущем возможно будут востребованы операторы КУЦ, РУЦ, ЦАС, службы идентификации и т.д. Платформа для новых операторов есть.

Но кроме физических лиц центр могут представлять еще и _цифровые ли

[2018-01-17 14:31] agievich opened #8 "Enroll для оператора РЦ"
Оператор РЦ помогает выпускать сертификаты другим ФЛ / ЮП, проверяя запросы на получение сертификата и подписывая их. Но как сам оператор получил свой сертификат? Этот вопрос не освещен в BPKI.

Естественно предположить, что оператор РЦ получает свой сертификат в рамках стандартного процесса Enroll1 с помощью другого оператора РЦ. Но все равно должен быть по крайней мере один genesis-оператор, кот

[2018-01-17 14:42] agievich opened #9 "Серийные номера сертификатов"
Сторона (однозначно описывается _именем_ -- т.е. набором идентификационных атрибутов) может иметь несколько сертификатов. В частности, несколько сертификатов может быть у УЦ.

Выпущенные УЦ сертификаты часто описываются парами (имя-УЦ, серийный-номер-сертификата). Именно такие пары предлагается использовать в SignedData для описания подписантов.

Нельзя допустить совпадение пар или, другими словам

[2018-01-17 14:51] agievich opened #10 "Транспорт OCSP/TSA/DVCS"
В разделе 10 описывается транспорт для нестандартных процессов, введенных в разделе 9.  Но транспорт стандартных процессов взаимодействия с серверами OCSP/TSA/DVCS не определен. А между тем соответствующие стандарты (кроме СТБ 34.101.26-OCSP?) предлагают несколько вариантов транспорта.

Необходимо зафиксировать конкретные варианты транспорта сообщений OCSP/TSA/DVCS.

[2018-01-18 14:43] agievich opened #11 "Нонсы в штампах времени"
В запросы и ответы СШВ (службы штампов времени) запрещено включать нонсы -- неповторяющиеся синхропосылки, связывающие запрос с ответом.

Несмотря на рекомендации RFC 3161, большого смысла в нонсах мы не видим. Поэтому нонсы и были заблокированы в BPKI. С другой стороны, на сегодняшний день сложилась практика поддержки нонсов "по желанию": клиент может указать нонс, а СШВ должен уметь его обработа

[2018-01-18 15:12] agievich opened #12 "Подписанные атрибуты в штампе времени"
Штамп времени представляет собой контейнер SignedData, в который инкапсулирована структура TSTInfo. При инкапсуляции структуре назначается идентификатор id-ct-TSTInfo. Поскольку этот идентификатор отличается от стандартного (id-data), по правилам СТБ 34.101.23 (cms) контейнер SignedData должен содержать по крайней мере 2 подписанных атрибута: contentType и messageDigest.

Однако в BPKI **ошибочно

[2018-01-18 15:20] agievich opened #13 "SigningCertificate vs SigningCertificateV2"
Тема #12 о подписанных атрибутах в штампах времени не закрыта.

СТБ 34.101.ts **требует включения** в штамп еще одного атрибута: SigningCertificateV2. Этот атрибут описывает хэш-значение сертификата СШВ, а также опционально пару "издатель сертификата, серийный номер". Эта пара уже присутствует в SignerInfo штампа времени, поэтому ее нужно обязательно подавить в SigningCertificateV2.

Но и это еще

[2018-01-18 15:52] agievich opened #14 "Запрос сертификата СШВ"
В запросе на выпуск штампа времени запрещено устанавливать certReq = TRUE. Таким образом, клиент не может попросить СШВ вложить сертификат в штамп времени. Считаю такую ситуацию неправильной. Клиент **должен иметь возможность запросить** у СШВ его сертификат.

[2018-01-18 16:02] agievich opened #15 "Accuracy в штампе времени"
В штампе времени подавлено поле `accuracy`, в котором описывается "разрешающая способность" (РС) таймера СШВ. При отсутствии в штампе клиенты могут получить РС только из описания политики СШВ. Идентификатор политики объявлен в BPKI и здесь же следует сказать про РС.

Есть два варианта:
1. Заявить РС в BPKI и не вводить `accuracy` в штамп времени.
2. Требовать наличия `accuracy` в штампе времени. О

[2018-01-19 05:57] pavlovkv commented on #14
Не вижу в этом особой необходимости. Считаю, что сертификат СШВ должен быть доступен на портале его владельца. Поскольку республиканская СШВ будет одна, контролировать актуальность сертификата СШВ не составит особого труда. Если не ошибаюсь, например, у испанцев сертификат СШВ  доступен на сайте.

[2018-01-19 07:24] olegotory commented on #11
Поддерживаю предложение относительно включения компонента nonce "по желанию".

Небольшой коментарий по поводу nonce.
В СТБ 34.101.ts сказано, что nonce является необязательным компонентом, который определяет значение, используемое для проверки своевременности ответа в случае отсутствия у отправителя запроса локального источника времени. В СТБ 34.101.ts также сказано, что компонент nonce РЕКОМЕНДУЕ

[2018-01-19 08:00] olegotory commented on #15
Поддерживаю второй вариант.
В том же европейском профиле ETSI EN 319 422 включение компонента accuracy требуется: "the accuracy field shall be supported". Считаю, что в стандарте не следует определять верхнюю границу, а задавать верхнюю границу в политике СШВ. В частности мы не знаем, сможет ли НЦЭУ поддержать точность до 1 сек.? Возможно со временм точность будет увеливаться. При необходимости по

[2018-01-19 08:31] olegotory commented on #13
Действительно, в обновлении для RFC 3161, который лег в основу СТБ 34.101.ts, разрешается использовать как атрибут SigningCertificate, так и атрибут SigningCertificateV2 (см. RFC 5816). При разработке СТБ 34.101.ts было принято решение отказаться от атрибута SigningCertificate, для которого сертификат может хэшироваться только алгоритмом SHA-1. Возможно данное решение было ошибочным и не учитывало

[2018-01-19 09:13] pavlovkv commented on #11
Я так понимаю, что я в меньшинстве, но все же я против включения nonce.  Изначально было желание облегчить все форматы, в том числе и штамп времени. Я не вижу особой надобности во включении данного компонента. На мой взгляд он ничем не отличается от ряда других компонентов, которые мы не включаем в шв. Рассмотрим подробнее ситуации 1 и 2 из предыдущего комментария:
1. Пользователь получит два штам

[2018-01-19 09:38] pavlovkv commented on #15
То же мнение, что и по поводу nonce: зачем утяжелять штамп времени? Какую практическую пользу принесет включение этого компонента? Зачем пользователю знать вообще точность из ответа? В каких случаях точность может критически повлиять на результат, если она будет в ответе, а не в политике?
Поэтому я предлагаю третий вариант: РС заявляется только в политике. Политику корректирует владелец СШВ, поско

[2018-01-19 10:15] pavlovkv commented on #13
Очень интересен вот этот момент:

Я эту фразу понимал, как если сертификат включается, то  следует таким-то правилам. Если это не так, чем обусловлена такая обязательность? Я думал, что сертификат включается только в том случае, если указан certReq = true. Вот, например, цитата из RFC 3161:

[2018-01-19 10:28] pavlovkv commented on #9
Возможно, и стоит об этом сказать, но мне кажется, что это и без этого понятно, что серийный номер уникален.

[2018-01-19 10:44] olegotory commented on #14
Даже если служба одна, у нее может быть несколько личных ключей и, соответственно, сертификатов (для ускорения обработки запросов, например). Поэтому согласен, что клиент должен иметь возможность запросить у СШВ его сертификат (для автоматизации проверки), иначе придется проверку осуществлять перебором.

[2018-01-19 12:34] agievich opened #16 "Сертификаты в аттестатах"
Развитие темы #14.

В BPKI выпускаются следующие **аттестаты** (в терминологии СТБ.34.101.ades):
- сертификаты (СОК);
- СОС;
- OCSP-ответы;
- штампы времени;
- аттестаты заверения (СЗД, DVCS).

Эти аттестаты могут (и будут) вкладываться в документы с расширенными ЭЦП, подтверждая время выпуска документа, действительность других аттестатов, действительность самого документа.

Последние три аттестат

[2018-01-22 06:01] pavlovkv commented on #12
Да, это действительно так.

[2018-01-26 08:49] agievich opened #17 "Атрибут streetAddress"
Атрибут `streetAddress` не упоминается в качестве обязательного в стандартах PKIX (напомню, что СТБ 34.101.19 является переводом RFC 3280, подготовленного [PKIX](https://datatracker.ietf.org/wg/pkix/about/)). Например, в СТБ 34.101.19 не задана максимальная длина `streetAddress`, мы взяли ее из X.520, где собственно атрибут и описан.

Атрибут `streetAddress` слабо канонизируется: нужно очень много

[2018-01-26 09:01] agievich opened #18 "Максимальные длины name, surname, givenName"
В соответствии с СТБ 34.101.19 строки id-атрибутов `name`, `surname`, `givenName` могут содержать вплоть до 32768 символов. Верхняя граница весьма завышена. Из-за этого завышения нельзя построить разумные оценки максимальном объеме сертификата.

Предлагается ввести жесткие ограничения на длины строк:
- длина `name` (полное название организации) <= 256.
- длина `surname` (фамилия на бел/рус) <= 128

[2018-01-26 09:25] agievich opened #19 "Канонизация id-атрибутов"
По правилам СТБ 34.101.19 (п. 9.1) при сравнении строк id-атрибутов должны игнорироваться незначащие пробелы и регистры символов (например, строки `"Иван Петров"` и `"ИВАН  ПетрОв "` считаются одинаковыми). Другими словами, перед сравнением строк должна проводиться их неявная канонизация: исключение незначащих пробелов, поднятие регистра.

В связи с неявной канонизацией мы запретили использовать с

[2018-01-26 10:45] agievich opened #20 "Атрибут SigningTime в SignedData"
Контейнеры SignedData, которые пересылаются в процессах (Enroll, Reneroll, Spawn, Revoke, Chpwd, Revoke), не содержат атрибут SigningTime: подписывающая сторона не фиксирует время подписи. Это разумно, поскольку у подписанта (ФЛ) может отсутствовать точный таймер. Но знать время подписи желательно во многих случаях. Например, клиент процесса может отслеживать время реакции УЦ. В бумажном документо

[2018-01-26 11:10] agievich opened #21 "Перенаправление запросов"
В процессах Reenroll и Spawn субъект отправляет УЦ один и тот же запрос: EnvelopedData(SignedData(CSR)), где CSR -- запрос на выпуск сертификата. В первом процессе старый сертификат отзывается, во втором -- нет. Противник может перенаправить запрос с узла `/reenroll` на узел `/spawn` и изменить логику поведения УЦ.

Возможны и другие перенаправления. Например, запрос оператора РЦ на Reenroll собст

[2018-01-26 14:12] agievich opened #22 "AuthorityKeyIdentifier в сертификате КУЦ"
Нужно ли включать расширение AuthorityKeyIdentifier в сертификат КУЦ? Считаю, что не нужно. Ведь у КУЦ нет "authority" (эмитента).

Для справки. Расширение не включается в корневые сертификаты американской FPKI.

[2018-01-26 14:54] agievich opened #23 "Пароли Enroll и Revoke"
В запросе на получение сертификата можно указать два пароля:
- пароль для выполнения процесса Enroll4 (выпуск сертификата без участия РЦ);
- пароль для выполнения процесса Revoke (отзыв сертификата).

Требования к паролям в BPKI не заданы. А между тем эти требования существенны. Например, с помощью Enroll4 будут выпускаться сертификаты КА, а КА могут выполнять весьма критические операции (в частно

[2018-01-26 15:05] agievich opened #24 "Биты nonRepudation, digitalSignature, keyCertSign в KeyUsage"
В CommonPKI читаем:

its semantics – bit 1 of the KeyUsage extension to contentCommitment and
declared the previous identifier nonRepudiation as being deprecated. The
semantics of signature related key usage bits was clarified by ITU-T X.509
as follows:

entity authentication service, a data origin authentication service or/and
an integrity service.

signal that the signer is committing to the con

[2018-01-26 15:11] agievich commented on #10
Цитата из CommonPKI относительно транспорта OCSP:

dedicated “well-known” port reserved for OCSP. Common PKI compliant systems MUST
employ the Hypertext Transfer Protocol (HTTP) [RFC2616] to transport OCSP messages
between clients and a server. If no port number is provided in the corresponding URL, the
commonly used port No. 80 MUST be used. Using HTTP has the advantage that software
components a

[2018-01-29 09:49] agievich commented on #8
Самое простое решение: разрешить выпускать сертификаты операторов с помощью Enroll4. УЦ предварительно регистрирует идентификационные данные оператора, генерирует enroll-пароль, передает пароль оператору.

При описании Enroll4 следует сказать, что для будущих субъектов УЦ должен поддерживать список записей имя/роль/пароль. Роль обязательна, иначе субъект может поднять свой статус в запросе.

Желат

[2018-01-29 10:11] agievich commented on #11
Нонсы используются в запросах / ответах OCSP, СЗД (DVCS), СШВ (TSA), а также в BPKIRetrieveReq / BPKIResp. Только в последнем случае использование нонсов жестко регламентировано. В первых трех -- по желанию. Более того, в OCSP формат нонсов вообще не определен (по крайней мере, в СТБ 34.101.26).

При ближайшем рассмотрении я не вижу смысла в нонсах OCSP, СЗД, СШВ. Рассмотрим, например, штамп време

[2018-01-29 10:19] agievich commented on #15
Политика (документ) не автоматизируется. Агент / бот / автомат не сможет понять, что написано в политике. Но он сможет разобрать поле `accuracy`.

Разрешающая способность таймера может быть критически важна в real-time системах.

[2018-01-29 10:20] olegotory commented on #11
Рассмотрим один пример, где по моему мнению связывание важно.
Предположим есть электронная биржа, в которой стороны, что-то покупающие, подписывают свои заявки с использованием штампов времени. Если две стороны предложили одну цену, то товар отходит сторонке, подписавшей заявку первой. Как доказать с использованием только запросов и штампов времени, что кто-то получил штамп первым? Я не вижу решен

[2018-01-29 10:35] olegotory commented on #10
В стандаре на TSA (СШВ) описан "Обмен сообщениями с использованием протокола HTTP". В bpki для tsa можно сказать, что для США должен поддерживаться обмен сообщениями с использованием протокола HTTP, описанный в п. 8.4 СТБ 34.101.ts

[2018-01-29 10:46] olegotory commented on #13
Атрибут SigningCertificateV2 не содержит сертификат. Он содержит хэш-значение сертификата, серийный номер сертификата и имя издателя сертификата. Данная информация требуется для поиска сертификата стороны, которая подписала штамп времени.

[2018-01-29 10:54] agievich commented on #23
Понятно, что enroll-пароль касается конкретного сертификата конкретного субъекта. Поэтому пароль одноразовый: он перестает действовать сразу после предъявления в запросе на получение сертификата.

Но revoke-пароль можно позиционировать по-разному (развилка):
1. Одноразовый пароль. Касается _конкретного_ сертификата конкретного субъекта.
2. Многоразовый пароль. Касается _всех_ сертификатов конкретн

[2018-01-29 11:06] olegotory commented on #16
Как я понимаю, для служб OCSP, СШВ, СЗД в их ответах содержится информация, котороя позволяет однозначно определить открытый ключ (или сертификат), соответствующий личному ключу подписи (например, атрибут SigningCertificateV2 для ответа СШВ). Поэтому включение сертификата в ответ может потребоваться, фактически, только для распределения сертификата, которое нужно выполнить один раз для запрашивающ

[2018-01-29 11:20] olegotory commented on #17
Атрибут streetAddress содержит довольно таки чуствительную информацию -- адрес. Зачем кому-то знать, где точно физически (по какому точному адресу) располагается tls-сервер или КА. ЮП могут менять адреса, и как поступать, если у него адрес поменялся: формально сертификат должен отзываться, но кто это будет отслеживать, очень это сложно ...  При включении адреса также непонятно, почему не он не ука

[2018-01-29 11:24] olegotory commented on #18
Если полное название организации указывать еще на белорусском языке, то данного размера недостаточно будет. Может сделать побольше  name?  <=512

[2018-01-29 11:31] agievich opened #25 "Proof-of-work для защиты от перебора паролей"
В запросе на отзыв сертификата субъект предъявляет пароль отзыва (revoke-пароль). Для защиты от перебора разумно организовать временную блокировку при предъявлении нескольких неверных паролей (см. Issue #23). Но временная блокировка -- это не совсем удобный механизм:
- нагрузка ложится на УЦ;
- противник может заблокировать отзыв, специально предъявляя заведомо неверные пароли.

Гораздо более техн

[2018-01-29 12:08] olegotory commented on #19
Учитывая, что основные продукты, используемые на практике (например, OpenSSL), не выполняют канонизацию, я за явную (позицию 2).

[2018-01-29 12:28] olegotory commented on #20
Как  я понимаю, когда клиент отслеживает время реакции, то он полагается только на свой таймер, т.е. ждет определенный интервал времени. Нужно ли нам соответствие стандарту на расширенные подписи? Например, РЭЦП профиля B-B ДОЛЖНА содержать следующие общие атрибуты:
– SigningTime;
– SigningCertificate.

[2018-01-29 12:58] agievich opened #26 "Переключение между УЦ с помощью Spawn"
Процесс Spawn реализует "выпуск нового сертификата для стороны, которая располагает действительным сертификатом". Предполагалось (но об этом не было сказано явно), что старый эмитент (A) и новый эмитент (B) должны совпадать. А между тем если разрешить A != B, то появляются большие возможности.

Например, B -- это корпоративный ПУЦ (подчиненный A), который выпускает сертификаты для своих криптоавто

[2018-01-31 07:33] bcryptobot opened #27 "РЦ подчиняется ПУЦ"
Если РЦ обслуживает единственный ПУЦ, то дать возможность этому РЦ подчиняться обслуживаемому им ПУЦ

[2018-01-31 07:36] bcryptobot opened #28 "Оператор центра: правила ЮП или правила центра?"
Операторам назначается идентификатора: идентификатор ЮП и идентификатор центра. У ЮП и центров различные требования к заполнению секций 'Subject' и расширений, а также к срокам действия сертификатов. Чем руководствоваться при выпуске сертификата оператора центра?

[2018-01-31 07:37] bcryptobot opened #29 "Роль издателя СОС"
Добавить роль издателя СОС без права выпуска сертификатов с
``KeyUsage = {digitalSignature | keyEncipherment | cRLSign}``

[2018-01-31 07:39] bcryptobot opened #30 "СШВ в подчинении ПУЦ"
Дать возможность ПУЦ иметь свою СШВ, которая бы периодически синхронизировала свои часы с республиканской СШВ, иначе республиканская СШВ захлебнётся запросами

[2018-01-31 07:41] bcryptobot opened #31 "Длина атрибутов commonName, organizationName, organizationalUnitName, title"
Увеличить размер атрибутов xотя бы до 128, а лучше до 1024

[2018-01-31 07:42] bcryptobot opened #32 "Порядок id-атрибутов в Name"
Слишком жёсткий порядок атрибутов в типе 'Name'. Многие действующие сертификаты станут недействительными только из-за другого порядка этих атрибутов. Изменить требования к порядку атрибутов.

[2018-01-31 07:43] bcryptobot opened #33 "Флаги keyAgreement и nonRepudation в KeyUsage"
В списке допустимых флагов расширения 'KeyUsage' отсутствует флаг 'key Agreement'. Почему у КУЦ, РУЦ, ПУЦ и ЦАС отсутствует флаг nonRepudiation? Ввести указанные флаги.

[2018-01-31 07:50] bcryptobot opened #34 "BasicConstaints в сертификатах конечных участников"
Почему расширение 'BasicConstraints' обязательно для сертификатов НЕ УЦ?

[2018-01-31 08:08] bcryptobot opened #35 "Дополнительные расширения в запросе на получение сертификата"
Дать возможность в заявке на выпуск сертификата задавать атрибуты, отличные от двух перечисленных в п. 8.2 (например, "Время подписания заявки" OId="1.2.840.113549.1.9.5" и "Планируемый владельцем  период  действия  сертификата" OId="1.2.112.1.2.1.1.5.5").

Дать возможность в заявке на выпуск сертификата задавать расширения, отличные от трёх перечисленных в п.8.2.2 (например, "Период действия личн

[2018-01-31 08:09] bcryptobot opened #36 "Отложенный отзыв"
Дать возможность в заявке на отзыв сертификата задать желательный момент отзыва (отложенный отзыв).

[2018-01-31 08:10] bcryptobot opened #37 "Запрос на приостановку сертификата"
Добавить заявку на приостановку сертификата с указанием периода приостановки.

[2018-01-31 08:11] bcryptobot opened #38 "Запрос сертификатов у УЦ"
Добавить запрос к УЦ на произвольный сертификат (цепочку сертификатов). Это, в частности, необходимо для зашифрования с помощью EnvelopedCMS, где необходимы сертификаты получателей.

[2018-01-31 08:12] bcryptobot opened #39 "Резервный транспорт по e-mail"
Добавить в качестве резервного транспорта электронную почту, с учётом требования включать в заявку на выпуск сертификата адрес электронной почты субъекта

[2018-01-31 08:17] bcryptobot opened #40 "publicKeyId в ключевых контейнерах"
Добавить в схему типа `EncryptedPrivateKeyInfo` опциональный элемент
``publicKeyId ОСТЕТ STRING[32|20] OPTIONAL``
значение которого равно значению `SubjectKeyIdentifier` из парного личному ключу сертификата.
Этот элемент необходим для поиска ключевого контейнера,парного заданному сертификату, (и контейнеров частичных секретов, соответствующих данному ключевому контейнеру) без расшифрования контейн

[2018-02-01 07:13] olegotory commented on #30
Предположение, что республиканская СШВ захлебнётся запросами, если СШВ будет одна, является спортным. У СШВ может быть несколько личных ключей (соответственно, сертификатов), которые могут использоваться для подписи ответов СШВ. Сертификат, который может использоваться для проверки ответа СШВ, однозначно определяется по информации из ответа. Организация работы одной СШВ намного проще, чем нескольк

[2018-02-01 07:22] olegotory commented on #27
Как я понимаю, теоретически один РЦ может обслуживать несколько УЦ, но на практике это маловероятно, более вероятной является схема:  УЦ <-->  несколько РЦ, которые подчиняются одному УЦ.  Поэтому считаю, что можно поддержать возможность наличия у ПУЦ своего РЦ, который ему подчиняется.

[2018-02-01 07:44] olegotory commented on #31
Размеры данных атрибутов определяются в СТБ 34.101.19 и x.509. Увеличение их длины до предлагаемых значений приведет к несоответствию указанным стандартам. Более того, нужно стремится к минимизации размеров сертификатов, так как, например, проверка "больших" сертификатов в id-карте затруднительна: для передачи в карту больших сертификатов требуется больше времени, если для атрибутов не будут опред

[2018-02-05 07:57] agievich commented on #40
Я против:

1. EncryptedPrivateKeyInfo не содержит незашифрованных данных. Только зашифрованные + описание алгоритма шифрования.
2. Указывать SKID вместе с личным ключом нецелесообразно в силу многообразия способов вычисления SKID (sha1 vs belt-hash).
3. Связывание личного ключа с открытым (или даже с сертификатом открытого ключа) целесообразно выполнять за пределами EncryptedPrivateKeyInfo, наприм

[2018-02-05 08:04] agievich commented on #39
Адрес электронной почты включать в CSR не обязательно. Но если адрес есть, то сертификат высылается на этот адрес в основном процессе `Enroll1`:

нем адрес электронной почты (дополнительный идентификационный
атрибут `email`, см. п.~\ref{ENTITIES.SAN}).

- [ ] Разобраться с пересылкой в `Enroll2`, `Enroll4`, `Reenroll`, `Spawn`.

[2018-02-05 08:42] agievich commented on #38
Я против:

1. А что запрашивать у УЦ? Серийный номер сертификата? Имя субъекта? Довольно специфическая информация, которую обычно можно найти только в сертификате. А сертификат как раз и запрашивается.
2. Следующий вопрос: кто может запрашивать? Все? Нет, нарушение приватности. Особые стороны, которым владелец сертификата выдал разрешение? Очень сложно. Владельцу намного проще разослать свой серти

[2018-02-05 08:51] agievich opened #41 "AuthorityInfoAccess"
В расширении `AuthorityInfoAccess` ветка `id-ad-caIssuers` (ссылка на сертификаты эмитента данного сертификата) не задействована.

Предлагаю поддержать ветку во всех сертификатах, кроме сертификата КУЦ.

Реализация очень простая:
- `accessMethod` = `id-ad-caIssuers`;
- `accessLocation` = URI по которому располагаются сертификаты эмитента.

[2018-02-05 08:57] agievich commented on #37
Вопрос требует проработки.

Непонятно, какие задачи решает приостановка. Если субъект не желает использовать лк в течение определенного периода времени (отпуск), он просто его не использует. Зачем объявлять о том, что действие ключа приостановлено? Из опасения, что ключом воспользуется противник? Довольно странная угроза.

Нужны дополнительные комментарии.

[2018-02-05 10:10] agievich commented on #36
Вопрос требует проработки.

Да, в PBKIRevokeReq можно легко добавить желательный момент отзыва (t). Но не так просто определить разумную логику обработки t со стороны УЦ. Логика довольно сложная:
1. УЦ должен категорически игнорировать t при определенных причинах отзыва (напр., при компрометации лк).
2. УЦ может игнорировать или не игнорировать t при других причинах отзыва.
3. Если УЦ не игнорируе

[2018-02-05 10:53] agievich commented on #35
Атрибут id-ce-privateKeyUsagePeriod (2.5.29.16) довольно стабильный. О его включении в CSR можно подумать.

Атрибут SigningTime (1.2.840.113549.1.9.5) в CSR нежелателен. Если уж его использовать, то на уровне CMS (см. #20).

Где описан формат атрибута с идентификатором 1.2.112.1.2.1.1.5.5?

Общая позиция по поводу запрашиваемых сроков действия сертификата.

**Во-первых**, в СТБ 34.101.19 сказано:

[2018-02-05 11:02] agievich commented on #33
Идет речь о ключах СТБ 34.101.45 (bign), которые могут использоваться только для ЭЦП и (или) транспорта ключа (keyEncipherment). Для согласования общего ключа (keyAgreement) следует использовать ключи СТБ 34.101.66 (bake).

По поводу nonRepudation подробно рассказано вот здесь: #24. Поставлена задач еще раз проверить все флаги.

[2018-02-05 11:09] agievich commented on #32
Во-первых, действующие сертификаты заведомо не соответствуют BPKI.

Во-вторых, жесткий порядок атрибутов вызван необходимостью соответствия СТБ 34.101.19 (п. 9.1) в части процедур сравнения имен. Дело в том, что любая перестановка атрибутов (например, givenName и surname) изменяет (!) имя: речь идет о двух разных субъектах.

Жесткий порядок позволит не запутаться в именах.

[2018-02-05 11:13] agievich commented on #31
Речь в замечании шла об атрибутах commonName, organizationName, organizationalUnitName и title.

Здесь позиция простая: мы не можем нарушать требования RFC5280 (СТБ 34.101.19). Мы можем договориться и нарушить их локально (в РБ), но после этого наши сертификаты могут не воприниматься внешними системами.

[2018-02-05 11:19] agievich commented on #30
СШВ, как и другие центры и службы, -- это в первую очередь логическая сущность. Физически СШВ может представлять собой целый конгломерат оборудования, готового к любым нагрузкам.

Согласен с @olegotory: подчинять СШВ ПУЦ нецелесообразно -- усложнится проверка штампов времени, которые планируется использовать повсеместно.

[2018-02-05 11:20] agievich commented on #29
Требуются дополнительные комментарии.

Обычно СОС выпускает сам УЦ. Зачем нужен отдельный издатель СОС?

[2018-02-05 11:22] agievich commented on #28
Действуют правила ЮП.

- [ ] Дать четкие разъяснения по главной роли при множественности ролей.

[2018-02-05 14:18] agievich opened #42 "Продолженная обработка запросов"
Запросы на выпуск / перевыпуск сертификатов могут обрабатываться неопределенно долго. Поэтому в ответах на запросы возвращается reqId -- идентификатор запроса (_билет_), предъявив который позже можно получить нужный сертификат.

В BPKI закреплена следующая логика:
1. В результате обработки запроса может возвращаться как билет, так и собственно сертификат (если УЦ успевает его сформировать онлайн).

[2018-02-05 14:49] agievich opened #43 "Конкретизация CRLReason"
В СТБ 34.101.19 причины отзыва сертификата фактически не определены. Задано только перечисление
[code]
элементы которого понимай как хочешь.

О семантике некоторых кодов можно узнать только по внешним источникам. Например,

Здесь, в частности, говорится о том, что приостановка сертификата (`certificateHold`) -- это страный механизм, не соответствующий самой идее отзыва (см. также обсуждение приост

[2018-02-07 09:16] agievich opened #44 "Транспорт: binary vs base64"
В процессах запросы и ответы сначала представляются бинарным der-кодом, а затем дополнительно кодируются по правилам base64.

Нужно ли нам дополнительное кодирование base64? Считаю, что нет, раз уж сделана ставка на "исконно" бинарный АСН.1.

Для справки. Запросы и ответы СШВ, OCSP представляются в HTTP-пакетах без base64. [Транспорт CMC](https://tools.ietf.org/html/rfc5273) также бинарный.

[2018-02-07 20:13] mihasK commented on #42
не вижу проблем с исходным подходом

[2018-02-07 20:13] mihasK commented on #44
хорошо, можно убрать base64

[2018-02-07 20:16] mihasK commented on #26
согласен, можно написать явно. Правда не очень понимаю куда лучше вставить эту пометку

[2018-02-07 20:22] mihasK commented on #21
да, включение атрибутов в SignedData и в подписанный ответ решит проблему

[2018-03-16 05:42] pavlovkv commented on #38
Я тоже считаю, что это нарушает приватность информации о субъекте. С учетом включения в сертификат информации о паспорте и др. приватной информации, выглядит это довольно странно.

[2018-03-16 05:45] pavlovkv commented on #37
Согласен, технология приостановки не является необходимой составляющей ИОК. И очень странно, что она пользуется хоть какой-то популярностью.

[2018-03-16 06:00] pavlovkv commented on #33
В СТБ 34.101.19 сказано: "Бит nonRepudiation устанавливается в том случае, если открытый ключ субъекта используется для проверки ЭЦП [но не ЭЦП для СОК и СОС]...".

[2018-03-16 06:03] pavlovkv commented on #29
На данный момент необходимости в таком издателе я не вижу.

[2018-03-16 06:13] pavlovkv commented on #20
Я склоняюсь к первому варианту. Не считаю, что нам необходимо следовать интересам документооборота. Для подписей со временем необходимо использовать более состоятельную подпись (РЭЦП B-T и выше).

[2018-03-16 06:40] pavlovkv commented on #43
А в случае какой-либо причины вне этого списка? Как рекомендуется в СТБ 34.101.19 не включать данное расширение? Тогда в стандарте надо указать, что в запросе на отзыв необязательно включать данное расширение. Я считаю, что если и сокращать количество причин, то помимо указанных выше добавить unspecified (0).

[2018-03-16 06:46] pavlovkv commented on #24
Считаю, что наша таблица (кроме бага с ЦАСом) является верной.
Мы всегда включаем digitalSignature при включении nonRepudation. И на мой взгляд это верно.  nonRepudation как бы расширяет/дополняет digitalSignature. Но не наоборот.

[2018-03-16 07:07] pavlovkv commented on #34
Если почитать СТБ 34.101.19, то там целый клубок непонятно зачем нужных условий. Даже из названия ясно, что данное расширение является базовым (то есть для всех) и должно что-то ограничивать. Что может ограничить ограничить некритическое и необязательное расширение?
Мы жестко и точно определяем правила для этого расширения. К тому же данная практика совпадает с другими распространенными ИОК.

[2018-03-16 07:11] pavlovkv commented on #36
Действительно, какая необходимость добавлять поле, которое усложняет процесс отзыва, если на то нет веской причины?

[2018-03-16 07:25] pavlovkv commented on #41
На мой взгляд, в нашем случае, когда РУЦ выпускает большую часть сертификатов, в этом нет необходимости. Сертификат(ы) РУЦа легко можно получить с его портала. И все должны знать его адрес. А для ПУЦ такого URI попросту может не существовать.

Однако с точки зрения завершенности стандарта, данную ветку можно и поддержать.

[2018-03-16 07:49] pavlovkv commented on #22
КУЦ является сам для себя эмитентом. На мой взгляд все логично.

Многие другие PKI включают в корневой сертификат данное расширение.

[2018-03-16 07:52] pavlovkv commented on #5
Да, поддерживаю предлагаемое переименование. При написании стандарта часто возникала путаница и было много переименований туда и обратно.

[2018-03-16 07:58] pavlovkv commented on #15
Остаюсь при своем мнении: не вижу необходимости включать РС в ШВ. Не совсем ясны выгоды от данного действия.

[2018-03-16 08:14] pavlovkv commented on #11
Представим, что в случае с биржей Алиса и Виктор предъявляют свой штампы времен для выявления победителя. Виктор получил ШВ позже, поэтому "угоняет" штамп времени Алисы, чтобы хоть как-то попытаться побороться за победу в торгах. Но как здесь поможет нонс? Какая разница "угонять" ШВ с нонсом или без?  Нонс -- не подпись и  не доказывает, что кто-то создал запрос. Если я правильно все понял, то нон

[2018-04-03 10:25] agievich commented on #37
Запрос на приостановку отправляет субъект сертификата. Субъект объявляет: в течение определенного времени мой сертификат не будет действовать. Зачем он это делает? Боится по ошибке подписать документ? Довольно странная причина. Боится, что кто-то воспользуется его лк в период отпуска? Тоже довольно странно: cубъект допускает, что его ключ хранится ненадежно. Но если только допустить компрометацию

[2018-04-03 10:25] #37 closed, assigned to nobody

[2018-04-03 10:42] bcryptobot opened #45 "Распространение сертификатов"
Что делать, например, владельцу сертификата при его утере? Предлагается сделать хранимую в УЦ информацию доступной доверяющей стороне (возможно с ограничениями устанавливаемыми владельцами сертификатов). Добавить запрос к УЦ на произвольный сертификат (цепочку сертификатов).

[2018-04-18 14:26] #30 closed, assigned to nobody

[2018-04-18 14:42] agievich commented on #27
Один из принципов, которого мы придерживались при проектировании топологии ИОК, гласит: подчинять ПУД ПУЦ только в самых необходимых случаях. Подчинение РЦ ПУЦ не является таким необходимым случаем. Наоборот, для РЦ целесообразно максимально широкое распознавание в инфраструктуре и, таким образом, прямое подчинение РУЦ.

[2018-04-18 14:42] #27 closed, assigned to nobody

[2018-04-19 17:36] agievich commented on #17
Атрибут `streetAddress` исключен. Подробнее раскрыты типы населенных пунктов в `localityName`.

[2018-04-19 17:36] #17 closed, assigned to nobody

[2018-04-19 17:59] agievich commented on #31
Максимальные длины `commonName`, `organizationName`, `organizationalUnitName` и `title` не изменены (64 символа).

Максимальная длина `name` (полное название организации, возможно на 2-х языках; по сообщению БУТБ, известны >300-символьные названия) сокращена до 1024 символов.

Максимальная длина `surname` (фамилия, на 2-х языках, м.б. двойная, тройная и т.д.) сокращена до 128 символов. Для справки

[2018-04-19 17:59] #31 closed, assigned to nobody

[2018-04-19 18:13] agievich commented on #3
Добавлено примечание в п. 7.2.3

[2018-04-19 18:13] #3 closed, assigned to agievich

[2018-04-19 18:23] agievich commented on #32
Отклонено. Остается добавить, что жесткий порядок упростит работу клиентов TLS, которые в
сообщении `CertificateRequest` получают от серверов список уникальных имен признаваемых удостоверяющих центров. Имена кодируются по правилам DER. Естественно, что изменение  порядка id-атрибутов изменит имя. Если не зафиксировать порядок, то клиентам придется (в общем случае) выполнять перестановки атрибутов.

[2018-04-22 21:05] agievich commented on #5
Переименовано

[2018-04-22 21:05] #5 closed, assigned to pavlovkv

[2018-04-22 21:32] agievich commented on #7
Агенты введены.  Определение:

**Агент** -- Криптографический автомат, выполняющий определенные технологические
процессы по поручению другой стороны.

todo: Агенты будут участвовать в Enroll, подписывая сообщения вместо УЦ.

[2018-04-22 21:53] agievich commented on #28
Усилены объяснения по поводу того, что оператор -- это ЮП, агент -- это КА.
В частности, в п. 7.1 добавлен комментарий о том, что дополнительный идентификатор роли имеют техническое значение и не меняет принадлежности оператора роли ЮП и принадлежности агента роли КА.

[2018-04-22 21:53] #28 closed, assigned to nobody

[2018-04-22 21:58] agievich commented on #4
Устранено.

[2018-04-22 21:58] #4 closed, assigned to agievich

[2018-04-22 22:02] agievich commented on #18
Максимальные длины изменены (см. #31).

[2018-04-22 22:02] #18 closed, assigned to nobody

[2018-04-23 20:06] agievich commented on #41
Ветка id-ad-caIssuers добавлена. Действительно, система сертификатов становится самодостаточной.: По сертификату конечного участника можно восстановить все сертификаты цепочки, кроме сертификатов КУЦ.  Сертификаты КУЦ являются точками доверия, их восстановление по AuthorityInfoAccess лишено смысла. Поэтому расширение AuthorityInfoAccess исключается из сертификатов РУЦ (еще одна причина исключения

[2018-04-23 20:06] #41 closed, assigned to pavlovkv

[2018-04-23 22:06] agievich commented on #22
1. Да, AKID в корневые сертификаты включается примерно (весьма весьма) в половине случаев.
2. Против AKID:  неинформативное дублирование информации в сертификате (>= 31 лишний октет).
3. За AKID:
-  равенство SKID = AKID можно использовать как признак того, что сертификат является самоподписанным (self-signed);
- при переходе на новый корневый сертификат (self-issued) в AKID можно хранить ссылку н

[2018-04-23 22:06] #22 closed, assigned to pavlovkv

[2018-04-24 17:32] agievich commented on #39
1. Целесообразно отправлять по e-mail только в `Enroll1`: во всех остальных процессах / сценариях сертификат получает сам субъект, либо его КТ.
2. Отправлять сертификат по e-mail в открытом виде, или в виде  `Enveloped_C(Cert_C)`? Пока разрешаются оба варианта.

[2018-04-24 17:32] #39 closed, assigned to nobody

[2018-04-24 17:55] agievich commented on #2
В EKU сертификатов ФЛ и ЮП добавлен флаг emailProtection

[2018-04-24 17:55] #2 closed, assigned to pavlovkv

[2018-04-24 18:00] agievich commented on #1
В KU сертификата ЦАС сброшен флаг `keyCertSign` и и установлен флаг `digitalSignature` (флаг `cRLSign` сохранен).

[2018-04-24 18:00] #1 closed, assigned to pavlovkv

[2018-04-24 18:11] agievich commented on #9
Добавлена фраза:

[2018-04-24 18:11] #9 closed, assigned to pavlovkv

[2018-04-24 18:12] agievich commented on #40
Отклонено.

[2018-04-24 18:12] #40 closed, assigned to nobody

[2018-04-24 18:19] agievich commented on #38
Отклонено.

[2018-04-24 18:19] #38 closed, assigned to nobody

[2018-04-24 18:28] agievich commented on #45
Принято к сведению.
Хранимая в УЦ информация вполне может быть доступна другим сторонам. Например, может быть предусмотрен процесс восстановления сертификата по письменному запросу субъекта. Однако, такого рода процессы находятся вне области действия BPKI.
По поводу запроса к УЦ на произвольный сертификат см. #38.

[2018-04-24 18:28] #45 closed, assigned to nobody

[2018-04-24 18:34] agievich commented on #29
Отклонено.

[2018-04-24 18:34] #29 closed, assigned to nobody

[2018-04-25 10:34] agievich commented on #44
Кодировка Base64 убрана. Контейнеры АСН.1 кодируются по правилам DER, DER-код передается в двоичном виде.

Отмечу, что при выбранном заголовке application/cms (см. RFC 7193) binary-тело используется по умолчанию.

Заодно обсудим заголовок. В RFC 7193 сказано:

В принципе, через эти параметры можно описать семантику содержимого запросов / ответов. Считаю, что делать это нецелесообразно по двум прич

[2018-04-25 10:34] #44 closed, assigned to mihasK

[2018-04-25 11:18] agievich commented on #19
Тотальное поднятие регистра все-таки нецелесообразно (Представим себе "WWW.EXAMPLE.COM" в commonName TLS-сервера). Более того, название организации с поднятым регистром может не соответствовать удостоверению ЮЛ.

С другой стороны, запретить незначащие пробелы целесообразно. Запрет добавлен в п. 7.3.1.

[2018-04-25 11:18] #19 closed, assigned to nobody

[2018-04-25 22:12] agievich commented on #8
В п. 9.2.1 добавлена фраза о том, что операторы РЦ могут получать сертификаты с помощью `Enroll4`.

`Enroll4` детализирован: сказано о тройках (id-данные, идентификаторы ролей, пароль), которые должен хранить УЦ (в течение 90 дней).

[2018-04-25 22:12] #8 closed, assigned to nobody

[2018-04-25 22:33] agievich commented on #7
Агенты УЦ участвуют в `Enroll`, подписывая `BPKIResp`. В расширении KU сертификатов УЦ снимается флаг `digitalSignature`.

[2018-04-25 22:33] #7 closed, assigned to nobody

[2018-04-26 08:06] agievich commented on #24
Исправлены флаги ЦАС. В связи с появлением агентов снят флаг `digitalSignature` у РУЦ и ПУЦ (см. #7).

[2018-04-26 08:06] #24 closed, assigned to pavlovkv

[2018-04-26 18:15] agievich commented on #33
Отклонены. Необходимые комментарии даны выше и в #24.

[2018-04-26 18:15] #33 closed, assigned to nobody

[2018-04-26 21:23] agievich commented on #34
Да, СТБ 34.101.19 (RFC5280) не требуют включения расширения `BasicConstaints` в сертификаты конечных участников. Жестко требуется включение расширения только в сертификаты УЦ. Однако сложилась практика включать `BasicConstraints` во все сертификаты. Так и сделано.

[2018-04-26 21:23] #34 closed, assigned to pavlovkv

[2018-04-26 21:57] agievich commented on #26
В п. 9.4 добавлено предложение:

[2018-04-26 21:57] #26 closed, assigned to mihasK

[2018-04-26 22:14] agievich commented on #12
Текст по SignedData будет усилен (с учетом #21).

[2018-04-26 22:14] #12 closed, assigned to pavlovkv

[2018-04-27 17:10] agievich commented on #35
После дополнительных консультаций решено:
1. Описать атрибут `certificateValidity`,  в котором можно указать рекомендуемый срок действия сертификата (аналог атрибута `1.2.112.1.2.1.1.5.5`).
2. Не запрещать включение дополнительных атрибутов в запросах ПУЦ.
3. Не запрещать включение дополнительных расширений в атрибуте extensionRequest запроса к ПУЦ.

[2018-04-27 17:10] #35 closed, assigned to nobody

[2018-04-27 17:25] agievich opened #46 "Выпуск облегченных сертификатов"
Сценарий `Enroll3` предназначен для массового выпуска сертификатов для КТ. Мы считали, что речь может идти как об обычных сертификатах, так и об облегченных. Сегодняшнее понимание: массово должны выпускаться только облегченные сертификаты (для `eId`).

Но тогда сценарий `Enroll3` буксует: в CSR указываются id-данные, которые не переносятся в облегченный сертификат, и не указываются расширения, спе

[2018-04-27 17:27] agievich commented on #46
`Enroll3` (выпуск облегченных сертификатов) исключен. `Enroll4` переименован в `Enroll3`.

Планируется описать выпуск облегченных сертификатов в параллельном стандарте BTOK.

[2018-04-27 17:27] #46 closed, assigned to nobody

[2018-04-27 17:51] agievich opened #47 "Флаги bpki-eku-clientTM / bpki-eku-serverTM"
Флаг `bpki-eku-clientTM` в EKU сертификата указывает на то, что сертификат выпущен для владельца КТ и лк этого сертификата может использоваться (только и только) в терминальном режиме. Этот значит, что КТ будет подписывать только те хэш-значения, которые поступили от предварительно аутентифицированного (надежного) терминала. Речь идет о _квалифицированной_ подписи.

Итак, флаг `bpki-eku-clientTM`

[2018-04-28 09:55] agievich commented on #43
@pavlovkv Речь не идет об исключении расширения. Речь идет о его конкретизации: раскрытии семантики, которая в СТБ 34.101.19 (RFC5280) не раскрыта.

Решения:
1. Раскрыта семантика `crlReason`.
2. Исключены коды `certificateHold`, `removeFromCRL`, `privilegeWithdrawn` (последний код нужен при отзыве атрибутных сертификатов, которые в BPKI не рассматриваются).
3. В `Reenroll` сказано о необходимости

[2018-04-28 09:55] #43 closed, assigned to pavlovkv

[2018-04-28 10:59] agievich commented on #42
Оставляем, как есть

[2018-04-28 10:59] #42 closed, assigned to mihasK

[2018-04-28 12:23] agievich commented on #15
Компромиссное решение:
1. Компонент `accuracy` включается опционально.
2. Требования по РС (разрешающей способности) в `accuracy` не выдвигаются.

[2018-04-28 12:23] #15 closed, assigned to pavlovkv, olegotory

[2018-04-28 12:26] agievich commented on #11
Без нонсов.

[2018-04-28 12:26] #11 closed, assigned to pavlovkv, olegotory

[2018-04-28 12:57] agievich commented on #13
В п. 8.9.2 добавлен текст:

Не закрываю issue, чтобы не забыть:
- [ ] добавить описание `SigningCertificate` в СТБ 34.101.ades;
- [ ] добавить разрешение на использование `SigningCertificate` в СТБ 34.101.tsp.

[2018-04-29 07:26] semenov-vladyslav commented on #13
Исправил описание атрибута `SigningCertificate` в [CAdES](https://bitbucket.org/bcrypto/ades/commits/4fb4c520f95a02b80ae4adbb4e12bd1a2272287e):
атрибут остается один, но для его представления в CAdES могут использоваться типы АСН.1 `SigningCertificate` или `SigningCertificateV2` в зависимости от хэш-функции.

[2018-04-29 10:12] semenov-vladyslav commented on #47
Насколько я помню, флаги `bpki-eku-clientTM` и `bpki-eku-serverTM` задумывались как аналоги eku флагов `clientAuth` и `serverAuth`, используемых для TLS. Эти флаги должны указываться в сертификатах терминала (выступает в качестве клиента) и КТ (сервер), а сертификаты должны использоваться только в рамках протокола bauth при аутентификации в приложении eID. Сертификат eID записывается на КТ один ра

[2018-04-30 08:29] agievich commented on #13
Перенес СТБ 34.101.80 (ADES) в репозиторий https://github.com/bcrypto/stb. Теперь работу с ADES следует вести через этот репозиторий.

Есть замечание по описанию атрибута `SigningCertificate` в ADES: странная фраза

Нужно перефразировать или объяснить.

[2018-04-30 08:44] agievich commented on #47
Флаги `bpki-eku-xxxTM` не имеют отношения к облегченным сертификатам. Только сертификаты X.509. И даже более конкретно: сертификаты, которые используются при проверке ЭЦП. Флаг `bpki-eku-clientTM` должен присутствовать в X509-сертификате владельца КТ, чтобы показать, что подпись вырабатывается в терминальном (с повышенными гарантиями надежности) режиме. Для организации терминального режима у терми

[2018-05-02 10:53] agievich commented on #21
1. Введены типы содержимого `SignedData` (запросы `Enroll1`, `Enroll2`, `Reenroll`, `Spawn`, `Setpwd`, `Revoke` и ответ `BPKIResp`).
2. Тип содержимого `EnvelopedData` не детализировался. Детализация не имеет криптографического значения, поскольку в конвертованных данных тип содержимого не контролируется.
3. Переписаны demo-скрипты.

[2018-05-02 10:53] #21 closed, assigned to mihasK

[2018-05-02 11:02] agievich commented on #20
Компромисс: в `SignedData` _может_ включаться подписанный атрибут `SigningTime`.

[2018-05-02 11:02] #20 closed, assigned to nobody

[2018-05-02 23:44] agievich commented on #36
Выше подробно объяснено, почему отложенный отзыв очень сложен, слабо автоматизируем и поэтому опасен. От отложенного отзыва решено отказаться.

Тем не менее, запрос на отзыв усилен -- в него добавлен компонент `invalidityDate`, который отправитель отзыва рекомендует перенести в запись об отзыве. (Именно рекомендует, УЦ может проигнорировать.) Компонент `invalidityDate` фактически информирует о мом

[2018-05-02 23:44] #36 closed, assigned to nobody

[2018-05-03 16:56] agievich commented on #16
Пока нет сервиса распространения сертификатов. Поэтому

1. Сертификат подписанта включается в `SignedData` по умолчанию.

Следуя этому правилу,

2. Сертификат СЗД включается в ее ответы (ответы -- это профилированные `SignedData`).

Правило 1 вступает в противоречие с правилами СТБ 34.101.tsp и уточняется следующим образом:

3. Сертификат СШВ включается в ее ответы (снова профилированные `SignedDa

[2018-05-03 16:56] #16 closed, assigned to nobody

[2018-05-03 16:57] agievich commented on #14
Дано разрешение на запрос. См. #16.

[2018-05-03 16:57] #14 closed, assigned to pavlovkv, olegotory

[2018-05-03 17:04] agievich commented on #13
Закрывается. Перебросил последнее замечание в https://github.com/bcrypto/stb/issues/1.

[2018-05-03 17:04] #13 closed, assigned to semenov-vladyslav, pavlovkv, olegotory

[2018-05-03 17:50] agievich commented on #47
По флагам никаких действий не предпринимается. Флаг `bpki-eku-serverTM` остается на будущее. Уже сейчас понятно, что его вполне может использовать СИ (служба идентификации).

По поводу выбора между обычным и квалифицированным сертификатом в `Enroll2`. Этот выбор делает РЦ, выступающий в роли терминала. Выбор реализуется заполнением CSR: с флагом `bpki-eku-clientTM` или без него.

В описание `Enrol

[2018-05-03 17:50] #47 closed, assigned to semenov-vladyslav, olegotory

[2018-05-03 18:11] agievich opened #48 "Продление id-данных через Reenroll и Spawn"
Идентификационные данные субъекта проверяются в `Enroll` оператором РЦ. Проверяется,  в том числе, действительность отражаемых в сертификате удостоверений (например, паспорта) на протяжении всего времени действия сертификата.

Однажды зафиксированные, id-данные потенциально много раз продолжаются в новых сертификатах с помощью процессов `Reenroll` и `Spawn`. Продолжаются без проверки со стороны РЦ

[2018-05-03 18:14] agievich opened #49 "Идентификация получателя в EnvelopedData"
В `EnvelopedData` субъект сертификата идентифицируется через SKID. В большинстве (во всех?) остальных случаях для идентификации используется пара (`issuer`, `serialNumber`). Почему не сделать единообразно?

[2018-05-04 07:12] pavlovkv commented on #49
В случае с конвертованными данными, на мой взгляд, нет необходимости использовать более тяжеловесный issuerAndSerialNumber, поскольку если же и произойдет коллизия в skid, то пользователь просто не сможет расшифровать данные. Никакой опасности. В случае с подписью это может привести к тому, что подпись можно воспринять как невалидную.

[2018-05-04 14:19] agievich commented on #49
За SKID:
1. Простота.

Против:
1. Нарушение единообразия.
2. Неоднозначность SKID (м.б. варианты с SHA1 и belt-hash).
3. Проблемы с SHA1.

Все-таки я против. SKID желательно не использовать без большой необходимости.

[2018-05-04 18:02] agievich commented on #10
Раздел "Транспорт" говорит теперь и об OCSP, TSA и DVCS.

[2018-05-04 18:02] #10 closed, assigned to mihasK

[2018-05-05 17:28] agievich opened #50 "Уровни стойкости ключей эмитента / субъекта"
Следует сказать, что уровень стойкости ключей эмитента не может быть ниже уровня стойкости ключей субъекта.

Следует ввести соответствующие проверки в `Enroll`/`Reenroll`/`Spawn`.

[2018-05-06 16:53] agievich opened #52 "Пароль выпуска vs Билет выпуска"
Пароль -- это секрет, который способен запомнить человек. В этой связи термин "пароль выпуска сертификата" некорректен: пароль представляет собой полноценный секретный ключ, генерируемый РЦ или УЦ.

Вместо "пароль выпуска" предлагается писать "билет выпуска".

[2018-05-06 17:30] agievich commented on #52
Сделано.

[2018-05-06 17:30] #52 closed, assigned to nobody

[2018-05-06 17:41] agievich opened #53 "Номер ID-карты в serialNumber"
В идентификационном атрибуте `serialNumber` можно указать идентификационный номер трех типов:
- номер паспорта (PAS);
- личный номер (PNO);
- номер ID-карты (IDC).

Следует сказать, что номер ID-карты следует использовать только в тех сертификатах, личный ключ которых размещается на ID-карте.

Если так сделать, то префикс IDC в `serialNumber` будет однозначным признаком того, что речь идет о серти

[2018-05-06 18:11] agievich opened #54 "Разрешение на Enroll3 в сертификате РЦ"
Следует потребовать:
1. В EKU сертификата РЦ, который выполняет `Enroll3`, установлен флаг `bpki-eku-serverTM` (фактически разрешение на `Enroll3`).
2. УЦ, который выполняет `Enroll3`, проверяет наличие флага.

[2018-05-06 18:18] agievich commented on #54
Сделано.

[2018-05-06 18:18] #54 closed, assigned to nobody

[2018-05-06 18:19] agievich commented on #53
Сделано.

[2018-05-06 18:19] #53 closed, assigned to nobody

[2018-05-06 18:22] agievich commented on #50
1. В раздел Crypto добавлены пояснения о соотношении уровней стойкости ключей эмитента / субъекта.
2. Добавлена проверка уровня стойкости в `Enroll`.

[2018-05-06 18:22] #50 closed, assigned to nobody

[2018-05-06 18:26] agievich commented on #25
В раздел Transport добавлен подраздел с описанием PoW. Вместе с `Nonce` отправитель пакета должен указывать заголовок  `Date` с  временем отправки. Контролируется пара "содержимое + время".

[2018-05-06 18:26] #25 closed, assigned to mihasK, semenov-vladyslav

[2018-05-06 18:30] agievich commented on #23
1. Пароль отзыва выведен из `Enroll`, `Reenroll` и `Spawn`.
2. Сказано о защите от перебора пароля в `Setpwd`.
3. В Crypto добавлен подраздел "Билет и пароли".

[2018-05-06 18:30] #23 closed, assigned to mihasK

[2018-05-06 22:44] agievich commented on #49
И еще одна проблема со SKID:  если в нескольких сертификатах указаны одинаковые ок, то по SKID нельзя понять, о каком сертификате идет речь (именно поэтому вводится альтернативная идентификация сертификата через `SigningCertificate`, см. https://github.com/bcrypto/stb/issues/1).

Решение -- отказ от SKID:

1. Идентификатор получателя задается через `issueAndSerialNumber`.
2. Внесены изменения в de

[2018-05-06 22:44] #49 closed, assigned to pavlovkv

[2018-05-10 15:41] agievich opened #55 "Атрибуты surname и givenName нерезидентов"
Подробно описано, как должны формироваться атрибуты `surname` (фамилия) и `givenName` (имя и отчество) в сертификатах ФЛ-резидентов. Однако, ничего не сказано про сертификаты нерезидентов (согласно таблице 3, атрибуты должны присутствовать в этих сертификатах).

Каким должен быть язык атрибутов `surname` и `givenName` у нерезидентов? Нужны ли вообще эти атрибуты (имя и фамилия на английском будет

[2018-05-10 15:48] agievich commented on #55
Продолжу описывать проблему.

В BPKI записано:

Для нерезидента это может означать запись иероглифами (что тогда прописные буквы?) или арабской вязью. Нужны уточнения.

[2018-05-10 18:08] agievich commented on #48
Сказано о том, что УЦ должен ввести политику продления id-данных (в `Reenroll` и `Spawn`).

[2018-05-10 18:08] #48 closed, assigned to mihasK

[2018-05-11 06:20] pavlovkv commented on #55
Возможно, стоит отказаться от использования` surname` и `givenName` у нерезидентов. `commonName`  должно быть достаточно.

[2018-05-11 09:39] agievich commented on #55
1. При описании атрибутов для абстрактных ФЛ и ЮП сказано, что атрибуты формируются по удостоверениям (без слов о прописных буквах).
2. При описании атрибутов для резидентов сказано про прописные буквы.
3. При описании имени и отчества в атрибуте `givenName` резидента упомянуто, что отчества может и не быть.

Все записать в `commonName` и исключить `surname` и `givenName` --- это  не очень удачное

[2018-05-11 09:39] #55 closed, assigned to pavlovkv, olegotory

[2018-05-11 17:58] agievich commented on #6
Добавлен подраздел с перечислением функций и уточнением `C_Login`.

[2018-05-11 17:58] #6 closed, assigned to semenov-vladyslav

[2018-11-21 12:31] agievich opened #57 "Сроки действия сертификатов"
Сроки действия сертификатов, заданные в таблице 6, являются чересчур жесткими. Таблица не учитывает частные ситуации, в которых сертификаты должны, по видимому, действовать дольше.  Одна из таких ситуаций -- хранение личного ключа ФЛ на аппаратно защищенном криптографическом токене. Срок службы токена  -- 5-10 лет. Если уровень аппаратной защиты личного ключа, размещенного на токене, высок, то сро

[2018-11-21 14:18] agievich commented on #57
Предлагаются следующие корректировки:

П 8.3. Добавить абзац:
[code]
Таблица 6: добавить в название `"(рекомендуемые)"`.

П 9.2: при ссылке на таблицу 6 добавить: `"или ее уточнением"`.

[2018-11-22 13:32] agievich commented on #57
Предложенные выше корректировки внесены

[2018-11-22 13:32] #57 closed, assigned to agievich, pavlovkv

[2019-06-04 08:38] andrewkostevich commented on #32
Странный порядок атрибутов: упорядочены по OID, в то время как Name является именем X.501: в X.501 атрибуты должны быть организованы иерархически для эффективного поиска в дереве объектов - страна, город, организация, подразделение, ... CN.

Варианты иерархического порядка атрибутов для ФЛ :
 * страна
 * serialNumber
 * Фамилия
 * Имя
 * Отчество
 * common Name

или

 * страна
 * Фамилия
 * Имя
 *

[2019-06-08 11:24] agievich commented on #32
Замечание требует пояснений. Почему "должны быть организованы иерархически"? Разве есть требования по этому поводу в стандартах X.509? Как перестановка полей в Name повышает эффективность поиска? Если "должны быть", то почему приводятся два разных варианта упорядочения? Какой из этих вариантов правильный с точки зрения "должны быть"? Что делать с другими ролями субъектов? Для них вводить собственн

[2019-07-10 18:25] agievich commented on #32
Предложение недостаточно проработано. Закрывается.

[2019-07-10 18:25] #32 closed, assigned to nobody

[2020-01-16 12:21] zm1ca opened #58 "Опечатка в п.8.6 Подписанные данные и п 8.2.2 Атрибут challengePassword"
**В п.8.6 Подписанные данные:**

СШВ определяются в  СТБ 34.101.82, а СЗД в  СТБ 34.101.81. Возможно, имеет место опечатка.

**В п 8.2.2 говорится:**

Длины частей указаны без размерностей (подразумеваются биты), и они определяются для "первой" и "второй" частей, хотя порядок частей не контролируется. Более того, частей может быть и не две, раз предусмотрена возможность опустить любую из них.

Пре

[2020-01-17 12:01] agievich commented on #58
Переносится в #59.

1. Опечатки в п.п. 6.6, 8.6 исправлены.
2. Объяснения в п. 8.2.2 считаем точными и исчерпывающими. Строка `challengePassword` -- это строка типа `UTF8String` (см. 8.2.1). Описан синтаксис строки (правила форматирования) и семантика (содержание) частей. Шаблон "строка состоит из частей ... одна из частей может быть опущена" вполне распространен.
3. "ПУЦ подчиняется РУЦ". Именно

[2020-01-17 12:37] zm1ca commented on #58
1. Да, все использованные конструкции корректны по отдельности, однако это не помогает установить однозначность в понимании читателем слов "первая" и "вторая" применительно к частям.
Дополнительно обращаю внимание на необходимость явного указания размерностей для длин частей.
2. В 5.4 ясно, к чему относится придаточное предложение. Вопросы вызывает возможность надёжной реализация схемы файл-контей

[2020-01-17 13:21] agievich commented on #58
1. Части описываются семантически (по смыслу). Это нормально. Когда мы говорим, что объект состоит из нескольких частей -- первой, второй, третьей -- мы не подразумеваем, что части следуют друг за другом. Длины частей однозначно определяются при разборе (парсинге) объекта -- каждой части предшествует определенный префикс, заданный в Стандарте.

2. Файлу-контейнеру **сопутствуют** (его сопровождают

[2020-01-17 14:13] zm1ca commented on #58
1. Таким образом, предложение "Длина второй части не должна превышать 128." полностью корректно, и не требует корректировки "128 бит."?
2. В текущей формулировке программы сопутствуют ключу. Например, если попросить кого-то купить Вам булку с изюмом и (чем?)корицей, вряд ли кто-то принесёт (что?)корицу отдельно, в качестве сопровождения булке с изюмом. На мой взгляд, раз в данном стандарте предлаг

[2020-01-17 16:19] agievich commented on #58
1. Длина второй части строки [типа `UTF8String`] не должна превышать 128 [символов `UTF8`].  Да, именно так.
2. Не "булка + корица", а "контейнер с ключом + программы". Именно такая концепция. Стандарт обсужден, согласован и принят.  Сейчас мы ведем речь о поправках в деталях. Давайте создадим wishlist для будущих редакций Стандарта. Предлагайте альтернативную концепцию программного КТ.

[2020-01-17 17:33] zm1ca commented on #58
Заинтересованность в прозрачности стандартов выражается, в частности, в стремлении сократить труд разработчиков по разгадыванию ребусов, пусть даже простых.

Определение программного токена вряд ли можно назвать деталью, поскольку формату его контейнера посвящается отдельный раздел. Я лишь высказываю предположение, что написанное в стандарте не отражает заложенной идеи, что может вызвать затруднен

[2020-01-21 13:47] agievich commented on #58
Дополнительно изменение (п. 5.4, реализовано в #59):
"...файл-контейнер с защищенным ключом и сопутствующими программами..." ->
"...файл-контейнер с защищенным ключом и сопутствующие программы..."

[2020-01-21 13:47] #58 closed, assigned to agievich

[2020-03-17 07:21] NikGomel opened #60 "Процесс Reenroll"
7 абзац.

Возможно имеется ввиду на личном ключе.

[2020-03-17 09:35] agievich commented on #60
Да, сказалось обиходное сокращение строгой фразы "подписывает на личном ключе, соответствующем открытому ключу, указанном в сертификате".

Есть несколько мест, где нужна замена.

**Предлагается** сократить строгую фразу до "подписывает на личном ключе сертификата". Смысл передается достаточно точно.

[2020-03-17 11:58] agievich commented on #60
Реализовано в #61.

[2020-03-17 11:58] #60 closed, assigned to agievich

[2020-04-02 16:20] agievich opened #62 "Расширение ExtKeyUsage для автоматов"
Возник вопрос о расширении `ExtKeyUsage`. Ситуация следующая: запрос на получение сертификата формируется для криптографического автомата, который не планирует выступать в роли сервера/клиента терминального режима.
Из СТБ 34.101.78-2019:
[code]
Т.е. в вышеописанной ситуации получается, что в запросе на получение сертификата в
атрибут `extensionRequest` не нужно включать расширение `ExtKeyUsage` (и

[2020-04-02 16:23] agievich commented on #62
Действительно, случай автоматов-не-терминалов выпадает из контекста.

В п. 8.1.4 предлагается написать:

[2020-04-02 16:37] agievich commented on #62
Реализовано в https://github.com/bcrypto/bpki/commit/a0d8a2998d2ee3a8450cb38bac3157912414cf5b.

[2020-04-15 11:12] #62 closed, assigned to agievich

[2020-04-30 19:13] agievich opened #63 "Переименовать компонент TimeStampResp.status.statusInfo"
В СТБ 34.101.78 в пункте 8,9.2 есть фраза

(речь идет про формат ответ СШВ из СТБ 34.101.82). Но в СТБ 34.101.82 в формате ответа нет компонента `statusInfo`, там есть компонент `statusString` (подраздел 7.2 СТБ 34.101.82 ).

[2020-05-28 13:42] agievich commented on #63
Реализовано в https://github.com/bcrypto/bpki/commit/c92f0ad1072b6c6d647be8207584345506a502b1.

[2020-05-28 13:42] #63 closed, assigned to agievich

[2020-11-23 13:27] agievich opened #64 "Версия синтаксиса в EnvelopedData"
В контейнере `EnvelopedData` используется транспорт ключа защиты. Транспорт описывается структурой `KeyTransRecipientInfo`. В этой структуре идентификатор сертификата получателя предлагается задавать через `issuerAndSerialNumber`. Но тогда согласно правилам [CMS](https://github.com/bcrypto/stb/blob/master/34.101.23/cms.md#Enveloped4) версия синтаксиса `KeyTransRecipientInfo` должна равняться 0. Со

[2020-11-23 14:25] agievich opened #65 "Тип конвертуемых данных в EnvelopedData"
В контейнере `EnvelopedData` тип конвертуемых данных должен принимать либо значение `id-data`, либо значение `id-signedData`:

сертификат, запрос на отзыв сертификата.

Данное правило несколько снижает издержки при обработке каскадов Signed-then-Enveloped. Подписанные данные можно не погружать в контейнер `EncapsulatedContentInfo` вместе с `id-signedData`, а зашифровывать напрямую. При этом сокращ

[2020-11-25 14:34] pavlovkv commented on #64
Да, согласен. Версия `KeyTransRecipientInfo` должна быть 0 (поскольку используем `issuerAndSerialNumber`), что влечет за собой установку версии 0 в контейнере `EnvelopedData`.

[2020-11-27 09:54] agievich commented on #64
Расследование. Не исправили версию синтаксиса после реализации https://github.com/bcrypto/bpki/issues/49.
Вопрос перенесен в #66.

[2020-11-27 09:54] #64 closed, assigned to pavlovkv

[2020-12-18 12:34] Not4me opened #67 "Версия KeyTransRecipientInfo в EnvelopedData"
В контейнере EnvelopedData сведения о получателе должен содержать единственный контейнер RecipientInfo с компонентом ktri типа KeyTransRecipientInfo. Версия указана 2 для значения issuerAndSerialNumber.
В СТБ 34.101.23 при выборе issuerAndSerialNumber версия должна была быть 0, а при выборе subjectKeyIdentifier выбиралась версия 2.
Может в данном случае необходимо оставить порядок выбора версии в

[2020-12-18 12:51] Not4me commented on #67
Извините, не заметил, что вопрос уже решен.

[2020-12-18 12:51] #67 closed, assigned to nobody

[2020-12-24 17:38] agievich commented on #65
В некоторых стандартах в каскадах Signed-then-Enveloped компонент `EnvelopedData.encryptedContentInfo.contentInfo` все-таки принимает значение `id-SignedData`.

Примеры: [RFC5272](https://tools.ietf.org/html/rfc5272#section-5), [RFC4556](https://tools.ietf.org/html/rfc4556#section-3.2.3).

Тем не менее, назначение `EnvelopedData.encryptedContentInfo.contentInfo = id-data` представляется целесообра

[2020-12-24 17:38] #65 closed, assigned to pavlovkv

[2021-04-19 12:41] NikGomel opened #69 "пункт 8.1.3 Расширение KeyUsage"
В СТБ 34.101.19 используется 9 бит для определения назначения ключа. В таблице 5 СТБ 34.101.78 только 5 бит. Не приведет ли такое разночтение к коллизиям в работе информационных систем.

[2021-04-20 10:19] agievich commented on #69
Неиспользуемые биты (`keyAgreement`, `encipherOnly`, `decipherOnly`) должны быть нулевыми. Об этом явно не сказано в СТБ 34.101.78, хотя и подразумевалось.

Если умолчания в данном случае неочевидны, можно выпустить поправку. Хотя, как кажется, в этом нет необходимости.

[2021-04-26 17:35] agievich commented on #69
Без реакции. Считаем, что достаточно сделанных разъяснений.

[2021-04-26 17:35] #69 closed, assigned to agievich

[2022-10-05 08:43] blackbearman opened #70 "Операции с просроченными сертификатами"
Возможны три состояния сертификата по отношению к сроку действия:
1. срок действия не начался;
2. сертификат действителен;
3. срок действия истек.
Какие операции являются допустимыми в каждый момент времени?
В частности, возможен ли отзыв для сертификата с истекшим сроком действия?

[2022-10-10 11:30] blackbearman opened #71 "Обработка поля revokePwd в формате BPKIRevokeReq"
В случае, когда запрос отзыва подписан, пароль отзыва может не задаваться согласно описанию процесса Revoke. Проблема в том, что поле revokePwd не является опциональным, то есть должно задаваться всегда.

Возможное решение: оставлять решение о проверке пароля revokePwd за УЦ, принимая во внимание, что пустая строка является допустимым значением, когда пароль отзыва не задан.